<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>
<body class="body-index">
    <%- include('partials/header.ejs')%>
    <main>
       <h2 class="title-home">Ultimos productos</h2>
        <div class="carrouselConteiner">
            <div class="slider-wrapper">
                <button id="prev-slide" class="slide-button fas fa-chevron-left"></button>
                <div class="image-list">
                    <% nuevos.forEach(i => { %>
                        <a href="/products/detail/<%= i.id %>"> <img src= "/img/products/<%=i.img%>" alt="img-<%=i.id%>" class="image-item"> </a>
                    <% }); %>
                </div>
                <button id="next-slide" class="slide-button fas fa-chevron-right"></button>
            </div>
            <div class="slider-scrollbar">
                <div class="scrollbar-track">
                    <div class="scrollbar-thumb"></div>
                </div>
            </div>
        </div>


        <div class="ad-home">
            <div class="ad-img"><img src="/img/publiLentes1.jpg" alt="ad1"></div>
            <div class="ad-text">
                <h2 class="title-home">Moda sustentable</h2>
                <h3>Recycled colections</h3>
                <p>Cada año ocho millones de toneladas de desechos plásticos terminan en el océano, y sólo la mitad de
                    estos han sido fabricados hace apenas 15 años. Los números son contundentes y estas cifras desaniman
                    a cualquiera. Muchos de los plásticos “biodegradables” sólo pueden descomponerse cuando se exponen a
                    temperaturas más altas de las que podrían alcanzar en el mar. Es por esto que cada vez más tiendas
                    están siguiendo la tendencia de buscar una segunda vida a este material desechable, creando anteojos
                    de sol y gafas de lectura a través del plástico reciclado.</p>
                <a href="#" class="link-add">Clickeá para ver toda la colección</a>
            </div>
            <div class="ad-img"><img src="/img/publiLentes2.jpg" alt="ad1" id="publi-img2"></div>
        </div>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/js/index.js"></script>
</body>

</html>