<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs')%>
            <main>
                <section class="register-box">
                    <h1>Edición de producto</h1>

                    <form action="/products/edit/<%=product.id %>?_method=put" method="post"
                        enctype="multipart/form-data">

                        <p class="input-Product">Nombre del producto</p>
                        <input type="text" value="<%=product.name %>" name="name">
                        <p class="input-Product">Descripcion</p>
                        <input type="text" value="<%=product.description %>" name="description">
                        <div class="size-edit"> <label for="size">Talle: </label>
                            <select  id="size" name="size">
                                <% for (let index = 0; index < size.length; index++) {%>
                                    <%const element = size[index]%>
                                    <% if (element.id == product.id_size){ %>                                
                                    <option value="<%=element.id%>"selected>
                                        <%=element.size%>
                                    </option>                                                        
                                <%}else{%> 
                                    <option value="<%= element.id %>">
                                        <%=element.size%>
                                    </option>
                                    <% } }%>                                                
                            </select>
                        </div>
                        <div class="size-edit"> <label for="category">Categoria: </label>
                            <select  id="category" name="category">
                                <% for (let index = 0; index < category.length; index++) {%>
                                    <%const element = category[index]%>
                                    <% if (element.id == product.id_category){ %>                                
                                    <option value="<%=element.id%>"selected>
                                        <%=element.name%>   
                                    </option>                                                        
                                    <%}else{%> 
                                        <option value="<%= element.id %>">
                                            <%=element.name%>
                                        </option>
                                        <% } }%>                    
                            </select>
                        </div>
                        <div class="size-edit"> <label for="brand">Marca: </label>
                            <select  id="brand" name="brand">
                                <% for (let index = 0; index < brand.length; index++) {%>
                                    <%const element = brand[index]%>
                                    <% if (element.id == product.id_brand){ %>                                
                                    <option value="<%=element.id%>"selected>
                                        <%=element.name%>   
                                    </option>                                                        
                                    <%}else{%> 
                                        <option value="<%= element.id %>">
                                            <%=element.name%>
                                        </option>
                                        <% } }%>                         
                            </select>
                        </div>  
                        <p class="input-Product">Actualizar precio</p>
                        <input type="number" value="<%=product.price %>" placeholder="Precio" id="price" name="price">
                        <p>Imagen actual</p>
                        <img src="/img/products/<%= product.img %>" alt="">
                        <label for="image-edit" class="label-edit"><i class="fas fa-upload"></i>Editar la imagen</label>
                        <input type="file" placeholder="Carga la imagen" id="image-edit" name="image">

                        <button type="submit">Editar producto</button> 
                    </form>
                        <% if (product.deleted_at == null) { %>
                            <form action="/products/edit/<%=product.id %>?_method=delete" method="post">
                                <button type="submit">Eliminar producto</button>
                            </form>
                        <% }else{ %>
                            <form action="/products/edit/<%=product.id %>" method="post">
                                <button type="submit">Alta de producto</button>
                            </form>
                            <% }%>
                    
                </section>
            </main>
            <%- include('partials/footer.ejs')%>
    </body>

</html>