<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>
    <main class="detail-main">        
        <section class="section1">
            <h4 class="description-detail"><%= product.name %></h4>
            <article class="images1">
                <div class="img-detail">
                    <img id="image" src= "/img/products/<%= product.img%>" alt="<%= product.img%>">                    
                </div>    
                <div class="img-selector">
                    <img src="/img/products/<%= product.img %>" alt="Lentes">
                    <img src="/img/products/<%= product.img %>" alt="Lentes">
                </div>                            
            </article>
            <article>
                <div class="product-detail">
                    <div class="price-discount">
                        <p class="price-detail"><%= product.price %></p>
                        <p class="discount-detail">8% Off</p>
                    </div>
                    <p class="shipping-detail"><i class="fas fa-truck"></i> Envios gratis!</p>                    
                </div>
            </article>
            <article>
                <div class="button-detail"> 
                    <button class="buys-detail">Comprar ahora</button>
                    <button class="add-detail">Agregar al carrito</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="characteristic-detail">
                    <h4 class="characteristic-vulk">Características de <span id="name"><%= product.name %></span></h4>
                    <p><i class="fas fa-check-circle"></i> Id: <span id="idProduct"><%= product.id %></span></p>
                    <p><i class="fas fa-check-circle"></i> Marca: <span id="brand"><%= product.marcas.name %></span></p>
                    <p><i class="fas fa-check-circle"></i> Color: <span id="color"><%= product.colores.name %></span></p>
                    <p><i class="fas fa-check-circle"></i> Talle: <span id="size"><%= product.talles.size %></span></p>
                    <p><i class="fas fa-check-circle"></i> Categoria: <span id="category"><%= product.categorias.name %></span></p>
                </div>
            </article>
            <article>
                <div class="detail-detail">
                    <h4 class="description-detail">DESCRIPCIÓN</h4>
                    <p id="description"><%= product.description %></p>                    
                </div>
                <% if (locals.isLogged) {%>
                   <% if (locals.userLogged.id_roles == 1) { %>
                        <form class="button-detail" action="/products/edit/<%= product.id %>" method="GET"> 
                          <button class="buys-detail">Editar producto</button>                                   
                      </form>   
                     <% }}%>
                                      
            </article>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/js/addToCart.js"></script>
</body>
</html>