<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h2>Cargar producto para vender</h2>
            <h3> Agregue la informacion del producto</h3>
            <ul>
                <% if (locals.errores) { %>
                    <% for (let index = 0; index < errores.length; index++) {%> 
                        <%const element = errores[index]%>
                        <li>
                            <%=element.msg%>
                        </li>                                                        
                    <%} %>
               <% } %>
            </ul>    
            <form action="/products/create" method="post" enctype="multipart/form-data">
                
                <input type="text" placeholder="Nombre del producto" name="name" value="<%= locals.old && old.name ? old.name : ''%>">
                <input type="text" placeholder="Descripción" name="description" value="<%= locals.old && old.description ? old.description : ''%>">
                <div class="size-edit"><label for="color">Color: </label>
                    <select name="color" >
                        <% for (let index = 0; index < color.length; index++) {%> 
                            <%const element = color[index]%>
                            <option value="<%=element.id%>">
                                <%=element.name%>
                            </option>                                                        
                        <%} %>
                    </select>
                </div>
                <div class="size-edit"> <label for="size">Talle: </label>
                    <select  id="size" name="size">
                       
                        
                        <% for (let index = 0; index < size.length; index++) {%>
                            <%const element = size[index]%>                            
                            <% if (element.id == size.size){ %>                                
                                <option value="<%=element.id%>"selected>
                                    <%=element.size%>
                                </option>                                                        
                            <%}else{%> 
                                <option value="<%= element.id %>">
                                    <%=element.size%>  
                                </option>
                                <% } }%>   
                           
                                            
                    </select>
                </div>
                <div class="size-edit"> <label for="category">Categoria: </label>
                    <select  id="category" name="category">
                        <% for (let index = 0; index < category.length; index++) {%>
                            <%const element = category[index]%>
                            <option value="<%=element.id%>">
                                <%=element.name%>
                            </option>                                                        
                        <%} %>                        
                    </select>
                </div>
                <div class="size-edit"> <label for="brand">Marca: </label>
                    <select  id="brand" name="brand">
                        <% for (let index = 0; index < brand.length; index++) {%>
                            <%const element = brand[index]%>
                            <option value="<%=element.id%>">
                                <%=element.name%>
                            </option>                                                        
                        <%} %>                        
                    </select>
                </div>  
                <input type="number" placeholder="precio" id="price" name="price" value="<%= locals.old && old.price ? old.price : ''%>">
                <label for="image-create" class="label-create"><i class="fas fa-upload"></i>Carga la imagen</label>
                <input type="file" placeholder="Carga la imagen" id="image-create" name="image">                
                <button type="submit">Cargar producto</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>