<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>
    <main class="detail-main">        
        <section class="section1">
            <h4 class="description-detail"></h4>
            <article class="images1">
                <div class="img-detail">
                    <img src= "/img/products/<%= product.img%>" alt="Lentes">                    
                </div>    
                <div class="img-selector">
                    <img src="/img/products/<%= product.img %>" alt="Lentes">
                    <img src="/img/products/<%= product.img %>" alt="Lentes">
                </div>                            
            </article>
            <article>
                <div class="product-detail">
                    <div class="price-discount">
                        <p class="price-detail"><%= product.precio %></p>
                        <p class="discount-detail">8% Off</p>
                    </div>
                    <p class="shipping-detail"><i class="fas fa-truck"></i> Envios gratis!</p>                    
                </div>
            </article>
            <article>
                <form class="button-detail" action="/user/cart" method="GET"> 
                    <button class="buys-detail">Comprar ahora</button>
                    <button class="add-detail">Agregar al carrito</button>                 
                </form>
            </article>
        </section>
        <section>
            <article>
                <div class="characteristic-detail">
                    <h4 class="characteristic-vulk">Características de <%= product.nombre %></h4>
                    <p><i class="fas fa-check-circle"></i> Marca: <%= product.Brand.name %></p>
                    <p><i class="fas fa-check-circle"></i> Color: <%= product.Color.name %></p>
                    <p><i class="fas fa-check-circle"></i> Talle: <%= product.Size.size %></p>
                    <p><i class="fas fa-check-circle"></i> Categoria: <%= product.Category.name %></p>
                </div>
            </article>
            <article>
                <div class="detail-detail">
                    <h4 class="description-detail">DESCRIPCIÓN</h4>
                    <p><%= product.description %></p>                    
                </div>
                <% if (locals.isLogged) {%>
                   <% if (locals.userLogged.id_roles == 1) { %>
                        <form class="button-detail" action="/products/edit/<%= product.id %>" method="GET"> 
                          <button class="buys-detail">Editar producto</button>                                   
                      </form>   
                     <% }}%>
                                      
            </article>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>