<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs')%>
         <div class="container">
            <div class="data">
                <h2 class="title">Información de la cuenta</h2>
                <form action="/" method="get">
                    <h3 class="sub-title">DETALLES DE CONTACTO</h3>
                    <img src="/img/users/<%= user.img %>" alt="ImageProfile">
                    <p><%= user.lastname %> , <%= user.name %> </p>
                    <p><%= user.email %></p>
                    <div class="edit"> 
                        <button type="submit">Editar <i class="fas fa-angle-right"></i></button>
                        <button type="submit">Cambiar contraseña <i class="fas fa-angle-right"></i></button>
                        <form action="/user/logout" method="get">
                            <input type="submit" value="Cerrar sesión"><i class="fas fa-angle-right"></i>
                        </form>
                    </div>
                    <h3 class="sub-title">NEWSLETTER</h3>
                    <p>No está suscripto a nuestro newsletter.</p>
                    <div class="edit">
                        <button type="submit">Editar <i class="fas fa-angle-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="shopping">
                <h2 class="title">Pedidos Recientes</h2>
                <div class="list">
                    <ul>
                        <li>Pedido #:
                        <p>Fecha:</p>
                        <p>Enviar a:</p>
                        <p>Total:</p>
                        <p>Estado:</p>
                        <button type="submit">Seguimiento</button></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="settings">
                <h2 class="title">Libreta de direcciones</h2>
                <form action="/" method="get">
                    <h3 class="sub-title">Dirección de facturación predeterminada</h3>
                    <p>No ha establecido una dirección de facturación predeterminada.</p>
                    <button class="adress-edit" type="submit">Editar dirección <i class="fas fa-angle-right"></i></button>
                </form>
                <form action="/" method="get">
                    <h3 class="sub-title">Dirección de envío predeterminada</h3>
                    <p><%= user.lastname %> , <%= user.name %></p>
                    <p><%= user.adress %></p> 
                    <p>Ciudad, provincia, codigo postal</p>
                    <p>Pais</p>
                    <p>Tel:</p>
                    <p>DNI:</p>
                    <button class="adress-edit" type="submit">Editar dirección <i class="fas fa-angle-right"></i></button>
                </form>
                <form class="delete" action="/" method="get">
                    <button type="submit">Eliminar cuenta</button>
                </form>
            </div>
        </div>
        <%- include('partials/footer.ejs')%>
    </body>
</html>